*{
    margin: 0px;
    padding: 0px;
}
.header{
    height: 100px;
    width: 100%;
   background-color: rgb(16, 16, 196);
    display: flex;
    margin-bottom: 20px;
}
.logo{
    background-image: url(logo.jpg);
    background-repeat: no-repeat;
    height: 65px;
    width: 175px;
    background-size: cover;
    margin-top: 14px;
    margin-left: 10px;
}
#navbar{
    float: right;
    flex-grow: 3;
    margin-right: 50px;
    margin-top: 20px;
}
#navcontent{
    display: flex;
    justify-content: center;
}
ul li{
    list-style: none;
    margin: 15px;
}
ul li a{
    padding: 1px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
ul li a:hover{
    background-color: orange;
    border-radius: 5px;
}
h2{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bolder;
    color: navy;
    text-align: center;
    margin-bottom: 20px;
}
th{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bolder;
}
input{
    font-size: 20px;
}
.button{
    height: 25px;
    width: 100px;
    background-color: green;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    padding-top: 3px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 700px;
    margin-top: 20px;
}